html {
    background-image: url(assets/black_wallpaper.png);
}

header {
    text-align: center;
    color: white;

}

.Calculadora {
    width: fit-content;
    margin: 50px auto;
    border: 1px solid rgb(0, 0, 0);
    padding: 10px;
    border-radius: 12px;
    background-color:rgb(179, 162, 211);
}

.botao {
    width: 80px;
    height: 80px;
    margin: 3px;
    font-size: 30px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: .3s;
    background-color: rgb(117, 117, 117);
    color: rgb(210, 186, 255);

}

.botao:hover {
    background-color: rgb(69, 67, 207);
    color: rgb(210, 186, 255);
}

#operacaoRealizada {
    background-color: rgb(239, 215, 255);
    padding: 3px;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    text-align: right;
    font-size: 20px ;
    letter-spacing: 5px;
    border: 3px solid rgb(117, 117, 117);
}
#Resultado {
    height: 80px;
    border: 3px solid rgb(117, 117, 117);
    margin: 10px 0;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0 10px;
    background-color: rgb(239, 215, 255);
    border-radius: 12px;

}